.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

  body{
      color:aqua;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .option {
    outline: none;
    border: none;
  }
  

