
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:rgb(218, 216, 224)"
>
  <!-- <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button> -->

  <!--Home Icon-->
  <a href="">
    <button
      style="outline: none"
      mat-mini-fab
      color="primary"
      aria-label="home icon"
    >
      <mat-icon>home</mat-icon>
    </button>
  </a>
  <a href="/createAccount" class="nav-link font-weight-bold text-uppercase"
    >Create Account</a
  >

  <a href="/login" class="nav-link font-weight-bold text-uppercase">Login</a>

<input type="text" #searchUserInput placeholder="Search For User">
<button type="button" (click)="searchUser(searchUserInput.value)">Search</button>

        <div>   User Logged In: {{user.username}}</div>

  <div class="spacer"></div>
  <a href="/login" (click)="logout()" class="nav-link font-weight-bold text-uppercase">Logout</a>
    <!--About Icon-->
  <a href="about">
    <button
      mat-mini-fab
      style="outline: none;"
      color="primary"
      aria-label="info icon"
    >
      <mat-icon>info</mat-icon>
    </button>
  </a>
  
</nav>

