<div *ngFor="let employee of employees">
    
    <table>
        <tr>
            <td>
                {{employee.name}}
            </td>
            <td>
                {{employee.email}}
            </td>
            <td>
                {{employee.jobTitle}}
            </td>
            <td>
                {{employee.id}}
            </td>
        </tr>
      
    </table>
</div>

<div>User logged in: {{user.username}}</div>
<div>Access code: {{accessToken}}</div>
<a href="/login" class="nav-link"><button>Login Page</button></a>