<htmL>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title>Sign in</title>
      </head>
    <body>
        <!-- <form>
                       
            <div class="form-group">
                <label for="name">First Name: </label>
                <input [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
            </div>

            <div class="form-group">
                <label for="name">Last Name: </label>
                <input [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
            </div>

            <div class="form-group">
                <label for="name">Street Address: </label>
                <input [(ngModel)]="user.address" placeholder="Address" name="address" class="form-control" id="address">
            </div>

            <div class="form-group">
                <label for="name">City: </label>
                <input [(ngModel)]="user.city" placeholder="City" name="city" class="form-control" id="city">
            </div>

            <div class="form-group">
                <label for="state">State: </label>
                <select name="states" id="states" [(ngModel)]="user.state">
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Arizona</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Connecticut</option>
                    <option>Delaware</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Hawaii</option>
                    <option>Idaho</option>
                    <option>Illinois</option>
                    <option>Indiana</option>
                    <option>Iowa</option>
                    <option>Kansas</option>
                    <option>Kentucky</option>
                    <option>Louisiana</option>
                    <option>Maine</option>
                    <option>Maryland</option>
                    <option>Massachusetts</option>
                    <option>Michigan</option>
                    <option>Minnesota</option>
                    <option>Mississippi</option>
                    <option>Missouri</option>
                    <option>Montana</option>
                    <option>Nebraska</option>
                    <option>Nevada</option>
                    <option>New Hampshire</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                    <option>North Carolina</option>
                    <option>North Dakota</option>
                    <option>Ohio</option>
                    <option>Oklahoma</option>
                    <option>Oregon</option>
                    <option>Pennsylvania</option>
                    <option>Rhode Island</option>
                    <option>South Carolina</option>
                    <option>South Dakota</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Utah</option>
                    <option>Vermont</option>
                    <option>Virginia</option>
                    <option>Washington</option>
                    <option>West Virginia</option>
                    <option>Wisconsin</option>
                    <option>Wyoming</option>
                </select>
            </div>

        

            <div class="form-group">
                <label for="name">Zip: </label>
                <input [(ngModel)]="user.zip" placeholder="Zip Code/Postal Code" name="zip" class="form-control" id="zip">
            </div>

            <div class="form-group">
                <label for="name">Phone Number: </label>
                <input [(ngModel)]="user.phone" placeholder="Phone Number" name="phone" class="form-control" id="phoneNumber">
            </div>

            <div class="form-group">
                <label for="username">Username: </label>
                <input [(ngModel)]="user.username" placeholder="Username" name="username" class="form-control" id="username">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input [(ngModel)]="user.password" placeholder="Password" name="password" class="form-control" id="password">
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input [(ngModel)]="user.email" placeholder="Email" name="email" class="form-control" id="email">
            </div>


            

            <input type="button" (click)="createUser()" value="Create">
        </form> -->

        
   
<!-------------------------------------------------------------------------------------------------------------------------------

-->



  
 
    


      <!--DIVIDER SKLDFJSKLFDJSLDKFJLSKDFJLS:KDFJLSDKFJL:KSDFJLS:DFKJLS:FKDJS:LFKDJSL:FKJ:LFKSJSDKL:FJFDLSJK:FJL:KSFLKJSDF-->

      <div class="header">

        <!--Content before waves-->
        <div class="inner-header flex">
        
            <div class="main">
                <p class="sign" >Create Account</p>
                <form class="form1">
                  <input class="un" [(ngModel)]="user.firstName" name="firstName" placeholder="First Name" id="firstName">
                  <input class="un" [(ngModel)]="user.lastName" name="lastName" placeholder="Last Name" id="lastName">


                  <input class="un" [(ngModel)]="user.address" style="width: 300px;"name="address" placeholder="Street Adress" id="address">
                  <input class="un" [(ngModel)]="user.city" style="width: 150px;"name="city" placeholder="City" id="city">
                  <input class="un" [(ngModel)]="user.state" style="width: 150px;"name="state" placeholder="State" id="state">
                  <input class="un" [(ngModel)]="user.zip" style="width: 150px;" name="zip" placeholder="Zip Code" id="zip">
                  
                  <input class="un" [(ngModel)]="user.phone"  name="phoneNumber" placeholder="Phone Number" id="phoneNumber">
                  <input class="un" [(ngModel)]="user.email"  name="email" placeholder="Email" id="email">

                  <input class="pass"  [(ngModel)]="user.username" name="username" placeholder="Username" id="username">
                  <input class="pass" [(ngModel)]="user.password"  name="password" placeholder="Password" id="password">
                  <input class="pass" [(ngModel)]="confirm_pass"  name="password_confirm" placeholder="Confirm Password" id="confirm">



                  <br>
                  <button class="signInButton" (click)="createUser()" value="login">Create Account</button>
                 
               </form>             
                </div>
        
        </div>
        
        <!--Waves Container-->
        <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
        </svg>
        </div>
        <!--Waves end-->
        
        </div>
        <!--Header ends-->
        
        <!--Content starts-->
        <div class="content flex">
          <p>Powered By Glav Tech </p>
        </div>
        <!--Content ends-->
    
       
  </body>

</htmL>