<htmL>
    <body>
        <form>

            <div class="form-group">
                <label for="username">Username: </label>
                <input [(ngModel)]="credentials.userName" placeholder="Username" name="username" class="form-control" id="username">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input [(ngModel)]="credentials.password" placeholder="Password" name="password" class="form-control" id="password">
            </div>
            
            


            

            <button>Submit New Account</button>
        </form>

        

      
    </body>
</htmL>
