<htmL>
    <body>
        <form>
            <p></p>

            <div class="form-group">
                <label for="username">Username: </label>
                <input  placeholder="Username" name="username" class="form-control" id="username">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input placeholder="Password" name="password" class="form-control" id="password">
            </div>

        </form>

        <p>akljsflksjaflksajf;sakljfsa;dfjs;adflkj</p>
    </body>
</htmL>
