<html>

<!-----------------------------------Below Is Logged in User's Page---------------------------------------------------------------->
    <label *ngIf="this.requestingSelf()">This Page is the logged in user's page!</label>

    


<!-----------------------------------Below Is Other User's Page---------------------------------------------------------------->
    <label *ngIf="userGot">Viewing {{this.userGot.username}}'s Page</label>
    <button *ngIf=" this.followed == false" (click)="followUser()">Follow This User</button>
    <button *ngIf=" this.followed == true" (click)="unfollowUser()">Unfollow This User</button>

</html>